<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pzmagento>
                <model>PzmagentoPayment\Pzmagento\Model\Pzmagento</model>
                <title>Pzmagento</title>
                <service_provider>pzmagento_paisa</service_provider>
             
                <production_url backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
               
                <sandbox_url backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <environment>sandbox</environment>
                <account_type>pzmagentomoney</account_type>
                <redirect_url>pzmagento/standard/redirect</redirect_url>
                <return_url>pzmagento/standard/response</return_url>
                <cancel_url>pzmagento/standard/cancel</cancel_url>
                <merchant_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <toid backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <totype backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <partenerid backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <ipaddr backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
               
            </pzmagento>
        </payment>
    </default>
</config>
